.page-title{
    color: red;
}
.paragraph{
    font-size: 20px;
    line-height: 1.5;
}
/* 
selector {
    prop: prop-value;
}

tag, pseudo-elements - 1
class, pseudo-class - 10 
id - 100
inline - 1000 
!important - max
*/
.list a {
    text-decoration: none;
}
.list-item > a {
    font-size: 20px;
}
.list-link {
    color: red;
}
.page-nav{

}
.page-body{
    margin: 0;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}




a{
    text-decoration: none;
}

.page-nav{
    background-color: #191970;
    padding: 10px 30px ;
}
.logo{
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    font-variant: small-caps;

}


.list{
    padding-left: 0px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.list-item{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}
.picture{
    width: 100%;
    height: 500px;
}