.form{
    margin: 30px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e0e0e0;
    padding: 15px;

}
.form-element:invalid{
    box-shadow: none;
    border: none;
    border-bottom: 2px solid red ;
    
}
.form-element:focus{
    color: #00f;
    
}
.form-group{
    /* display: flex;
    flex-direction: column; */
}