.navbar{
    height: 70px;
    background-color:  #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 29px;
    padding-right: 29px;
}
.main-url{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
font-size: 22px;
line-height: 30px;
}
.navbar-menu{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
.navbar-menu-item-url{
    padding-left: 26px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
font-size: 15px;
line-height: 20px;

}
scroll-container {
    overflow-y: scroll;
  scroll-behavior: smooth;
  display: block;
  width: 350px;
  height: 200px;
}
.search-container{
    width: 68px;
    background-color: black;
    display: flex;
    align-items: center;
}
.search{
    padding: 24px;
}
.thelatest-back{
 
}
.news{
   
    color:#ffffff;
    font-weight: bold;
font-size: 27px;
line-height: 37px;
}
.mainscreen{
 background-image: url("../img/header-background.png");
 display: flex;
    height: 369px;
    align-items: center;
    justify-content: center;
}
.subscribe{
    background-color: #89CA62;
    border-radius: 5px;
   width: 170px;
    height: 55px;
    border: none;
    color: #ffffff;
   
  
}
.best-article{
    background-color: #14B9D5;
  
border-radius: 5px;
    width: 170px;
    height: 55px;
    margin-left: 20px;
    border: none;
    color: #ffffff;

}
.buttons{
    margin-top: 44px;
    display: flex;
  justify-content: center;
}
.mainscreen-content{
display: inline;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.flex-container{
    display: flex;
    margin-top: 52px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    
}
.popular-posts{
    padding-top: 49px;
    color: #18B4CF;
    font-weight: bold;
    margin: 0;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
width: fit-content;
}
.popular-posts-container{
    background-color: #F2F2F2;
    height: 1030px;
    
}
.popular-posts-list-item{
background-color: #ffffff;
margin-bottom: 30px;

}
.post-text{
    height: 62px;
}
.popular-posts-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular-posts-li{
    height: fit-content;
}
.popular-posts-li:nth-child(4){
    margin-top: -130px;
}
.popular-posts-li:nth-child(6){
    margin-top: -100px;
}
.popular-posts-li:nth-child(5){
    margin-top: -10px;
}
.post-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-text-container{
    
    padding: 0;
    height: fit-content;
    font-weight: bold;
font-size: 18px;
line-height: 25px;
}
.popular-clients{
    background-image: url("../img/popular-back.jpg");
   
    display: grid;
    justify-items: center;
    align-items: center;
}

.popular-head{
    
    margin-top: 105px;
   
    text-transform: uppercase;
    font-weight: bold;
font-size: 32px;
line-height: 44px;
color: #ffffff;
}
.basic-line{
    background-color:#18B4CF;
   margin-top: 87px;
    width: 60px;
    height: 3px;
  
  border: none;
}
.popular-clients-list{
    margin-bottom: 191px;
    display: flex;
   margin-top: 106px;
    justify-content: center;
    align-items: center;
}
.popular-clients-list-item:nth-child(1),
.popular-clients-list-item:nth-child(2),
.popular-clients-list-item:nth-child(3){
    margin-right: 58px;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 48px;
}       
.toprated-picture{
    width: 100%

}






.toprated{
   
    width: 100%;
}
.toprated-text{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: bold;
font-size: 27px;
line-height: 37px;
margin-top: 49px;
margin-bottom: 52px;
}


.hotnews-header{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #18B4CF;
text-transform: uppercase;
}
.hotnews-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
 
}
.hotnews-grid-1raw{
    margin-top: 51px;
    display: grid;

    grid-template-areas: 
    'item1 item2'   
    'item3 item4'
    'item5 item6'
    'item7 item8';
    
    grid-column-gap: 35px;
}
.row1element{
    width: 3fr;
   display: flex;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}
.row2element{
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);


}
.row1element-header{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 41px;
   
}
.row1element-text{
    padding-right: 24px;
    padding-left: 10px;
    text-align: right;
    margin-top: 14.5px;
    color: #5B6469;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
margin-bottom: 40.5px;
}
.row1element-content{
    margin-top: auto;
    margin-bottom: auto;
}
.row1element2-header{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 15px;
    margin-top: 20px;
   
}

/* .hotnews-grid-2raw{
    margin-top: 42px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 46px;
} */
.secondraw-1element{
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
text-align: right;


}
.secondraw-1element-content{
    padding-top: 14px;
    padding-right: 14px;
    padding-left: 13px;
    padding-bottom: 3px;
}
.secondraw-1element-header{
    margin-bottom: 15px;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;
}
.secondraw-1element-text{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #5B6469;
}
/* .hotnews-grid-4raw{
    margin-top: 44px;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 35px;
    margin-bottom: 71px;
} */
.footer{
  
    background-color: black;
display: flex;
justify-content: space-between;

}
.copyright{
    color: #ffffff;
    font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 13px;
padding-top: 29px;
padding-bottom: 30px;
}

.footer-container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 9fr 1fr;
    
}
.logo1{
    padding-bottom: 27px;
    padding-top: 29px;
}
.logo2{
    padding-bottom: 35px;
    padding-top: 27px;
}
.row1element:nth-child(1){
    grid-area: item1;
}
.row2element:nth-child(1){
    grid-area: item2;
}
.secondraw-1element:nth-child(1){
    grid-area: item3;
  
}
.secondraw-1element:nth-child(2){
    grid-area: item4;
}
.secondraw-1element:nth-child(3){
    grid-area: item5;
}
.secondraw-1element:nth-child(4){
    grid-area: item6;
}
.row2element:nth-child(2){
    grid-area: item7;
}
.row1element:nth-child(2){
    grid-area: item8;
}
div.scrollup {
    position: fixed; 
    color: #fff; 
    background-color: #286090; 
    right: 20px; 
    bottom: 0px; 
    padding: 4px 10px; 
    font-size: 20px; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    cursor: pointer; 
    display: none; 
    text-align: center; 
  }
  div.scrollup:hover {
    background-color: #000; 
  }
  .popular-posts-button{
      margin-left: 30px;
    color: #18B4CF;
    font-weight: bold;
    margin: 0;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
width: fit-content;
  }