:root {
    --dark-background-color: #111111;
    --dark-text-color: white;
    --background-color: white;
    --text-color: black
}

body.theme-dark {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}
@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
    }
}


.body{
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-bar{
padding: 32px 330px;

max-height: 78px;
margin-top: 0px;
background: var(--background-color);
    color: var(--text-color);
}
.main-picture{
    width: 100%;
    background: var(--background-color);
    color: var(--text-color);
}
.list a {
    text-decoration: none;
    
}
.list {
display: flex;
list-style: none;
align-items: center;
background: var(--background-color);
color: var(--text-color);
}
.list-item{
    background: var(--background-color);
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: 50px;
    ;
}
.list-link{
    background: var(--background-color);
   
    color: #FF0000;
    font-size: 18px;
line-height: 18px;
}
a{
    text-decoration: none;
    background: var(--background-color);
    color: var(--text-color);
}
.main-headline{
    text-transform: uppercase;
    margin: 48px ;
    text-align: center;
    font-size: 22px;
line-height: 27px;
padding: 0px;
background: var(--background-color);
color: var(--text-color);
}
.main-text{
    font-size: 16px;
    line-height: 26px;
margin: 0px 68px;
text-align: center;
background: var(--background-color);
color: var(--text-color);
}
.main-text-2{
    font-size: 16px;
    line-height: 26px;
    margin-top: 28px;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 66px;
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
}
.parent{
    display: flex;
    background: var(--background-color);
    color: var(--text-color);
}
.gs{
    border: 1px solid white;
    background-color: red;
    max-width: 191px;
    max-height: 51px;
    margin: auto;
    padding: 18px 43px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
}

.copy{
    font-size: 16px;
line-height: 20px;
text-align: right;
margin-right: 105px;
background: var(--background-color);
color: var(--text-color);
}