.page__body{
   color: $main-color;
}

.github-buttons-container{
 width: fit-content;
   margin: 13px auto 0 auto;
   @media (max: width 320px){
display: grid;
   }
}

.revo__header{
   color: $accent-color;
   font-weight: bold;
font-size: 54px;
line-height: 54px;
text-align: center;
margin-bottom: 35px;
@media (max-width:720px) {
   font-size: 42px;
}
@media (max-width: 320px){
 font-size: 26px;
 line-height: 28px;
}
}

.revo__text{
   font-style: normal;
   font-weight: normal;
   font-size: 21px;
   line-height: 32px;
   text-align: center;
   max-width: 814px;
   margin: 0 auto;
   @media (max-width: 768px) and (min-width:320px){
      max-width: 689px;
  
   }
   @media (max-width: 320px){
      max-width: 276px  ;
font-size: 14px;
line-height: 20px;
   }
}
.revo__container{
   
   padding: 0 40px 0 40px;
  @media (min-width:768px){
      padding-bottom: 70px
   }
}
.here{
   background-color:  #F4F4F4;
   padding-top: 100px;
   padding-bottom: 100px;
   position: relative;
   @media (max-width:768px){
      background-color: #fff;
   }
   
.here__header{

   color: #8D81AC;
   font-style: normal;
font-weight: bold;
@media (min-width: 1039px){
   font-size: 48px;
line-height: 50px;
width: fit-content;
margin-left: auto;
margin-right: 60px;
}
@media (max-width: 1039px){
   font-size: 42px;
line-height: 44px;
text-align: center;
margin-bottom: 50px;
}
}
.here__list{
   padding-left: 90px;
   @media (max-width: 1260px){
      padding-left: 0;
   }
   display: grid;
   grid-template-areas: 
   "a f"
   "b e"
   "c e"
   "d e";
   @media (max-width: 1038px) and (min-width: 348px){
      display: list-item;
      padding-left: 30px;
   }
   @media (max-width: 347px){
      display: list-item;
   }
}
.here__list__item{
   max-width: 536px;
   display: grid;
    grid-template-areas:
"a b"
"a c";

@media (max-width: 730px) and (min-width: 620px){
   max-width: 600px;
   display: list-item;
   margin-left: auto;
   margin-right: auto;
}
@media (max-width: 621px){
   max-width: 270px;
   display: list-item;
   margin-left: auto;
   margin-right: auto;
}
}
.text__container2{
   padding-left: 15px;
   @media (max-width: 730px){
     padding: 0;
   }
   
}
.text__container3{
   padding-left: 40px;
   @media (max-width: 730px){
      padding: 0;
    }
}
.text__container4{
   padding-left: 25px;
   @media (max-width: 730px){
      padding: 0;
    }
}
.here__icon{
   grid-area: a;
   @media (max-width: 730px){
      display: block;
      margin: 36px auto 27px auto;
   }
}
.here__header__desc{
   grid-area: b;
   font-size: 16px;
line-height: 21px;
@media (max-width: 730px){
   text-align: center;
}
}
.here__header__text{
   grid-area: c;
   color: $light-color;
   font-size: 14px;
line-height: 21px;
width: 390.89px;
height: 77px;
@media (max-width: 1039px) and (min-width: 731px){
   width: 588px;
   height: 50px;
}
@media (max-width: 730px) and (min-width:621px){
   display: block;
   margin-left: auto;
   margin-right: auto;
text-align: center;
width: 600px;
height: 100px;
}
@media (max-width: 640px){
   text-align: center;
   width: 269px;
   height: 81px;
}
}
#second-child{
grid-area: a;
}
#third-child{
   margin-top: 40px;
   grid-area: b;
}
#fourth-child{
   grid-area: c;
   margin-top: 40px;
}
#fifth-child{
   grid-area: d;
   margin-top: 40px;
}
#sixth-child{
   grid-area: e;
   margin-left: auto;
   margin-right: 0;
   @media (max-width: 1039px){
      margin-top: 70px;
   }
   @media (max-width: 640px){
      padding: 0;
      max-width: 320px;
    }
}
.here__autro__img{
   max-width: 600px;
   max-height: 400px;
  
  display: block;

  @media (max-width: 730px){
     margin-left: auto;
  max-width: 320px;
  max-height: 381px;
}
}
#first-child{
   grid-area: f;
}}
.sub{
   padding-top: 83px;
 background-image: url(/src/img/Layer2.png);
background-size: cover;
background-position: top -250px left 10px;
   padding-bottom: 97px;
   position: relative;
}
.sub__header{
   text-align: center;
   color: white;
   font-weight: bold;
font-size: 48px;
line-height: 50px;
@media (max-width:1080px){
   margin-bottom: 39px;
}
@media (max-width: 380px){
   width: 320px;
   height: 69px;
   font-size: 28px;
line-height: 42px;
display: block;
margin-left: auto;
margin-right: auto;
}
}
.sub__list{
   
   display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 50px;
@media (max-width: 1080px){
   display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 25px;
grid-row-gap: 0px;
max-width: 560px;
margin-left: auto;
margin-right: auto;
}
@media (max-width: 648px){
   margin-right: auto;
   margin-left: auto;
}
@media (max-width: 554px){
   display: flex;
   margin-right: auto;
   margin-left: auto;
   flex-direction: column;

}
@media (min-width: 1380px){
   padding-left: 133px;
padding-right: 133px;
}
}
.sub__list__item{
      // display: flex;
      // justify-content: center;
   flex-direction: column;
   border: 1px solid white;
   padding-bottom: 36px;
   width: 257px;
   height: 460px;
   margin-top: 112px;
   @media (max-width: 1080px){
      margin-top: 0;
   }
   @media (max-width: 554px){
      margin-left: auto;
      margin-right: auto;
      margin-top: 18px;
   }
}
.spec__item{
   
   margin-top: 51px;
   padding-bottom: 47px;
   width: 299px;
height: 560px;
@media (max-width: 1080px){
   margin-top: -40px;
margin-left: -40px;
}
@media (max-width: 554px){
   margin-left: auto;
   margin-right: auto;
   margin-top: 18px;
}
}
.spec{
   margin-left: auto;
   @media (max-width: 1080px){
      margin-left: 0;
      
   }
   @media (max-width: 554px){
      margin-left: auto;
      margin-right: auto;
   }
}
.sub__list__header{
  
   color: white;
   font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
text-transform: uppercase;
text-align: center;
z-index: 2;

}

.sub__list__box{
   background: #FFFFFF;
   mix-blend-mode: normal;
   opacity: 0.06;
z-index: 1;
display: flex;
width: 257px;
height: 97px;
justify-content: center;
align-items: center;
z-index: 1;
}
.spec__box{
   width: 299px;
   height: 111px;
}
.sub__list__price{
   margin-top: 30px;
   text-align: center;
   font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 90px;
color: white;
}
.spec__price{
   font-size: 82px;
line-height: 90px;
}
.sub__list__text{
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: white;
text-transform: uppercase;
margin-top: 20px;
}
.sub__list__accent__line{
   width: 60px;
height: 5px;
background: #8D81AC;
border: none;
margin-top: 38px;
margin-bottom: 30px;
}
.spec__line{
   margin-top: 46px;
   margin-bottom: 40px;
}
.sub__list__desc{
   font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: white;
text-align: center;
margin-bottom: 62px;
height: 32px;
}
.spec__desc{
   margin-bottom: 83px;
}
.sub__list_purch{
   font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
width: fit-content;
color: #FFFFFF;
padding: 15px 38px 15px 38px;
border: 1px solid white ;
border-radius: 40px;
display: block;
margin-left: auto;
margin-right: auto;
}