.main-table{
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
   height: 600px;
}
.main-item{
    background-color: green;
    flex-grow: 1;
    margin: 10px;
    width: 200px;
}
.main-item:nth-child(1){
    height: 100%;
    width: calc(100% - 250px);
}