:root{
    --darkback: #000000;
    --whiteback: hsl(0, 0%, 100%);
} 
.dark-theme{
    background-color: black;
    color: white;
}
.body {
    --background-color: #ffffff;
    --text-color: #000000;
}
:root {
    --dark-background-color: #111111;
    --dark-text-color: #eeeeee;
}

body.theme-dark {
    --background-color: var(--dark-background-color);
    --text-color: var(dark-text-color);
}
@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
    }
}
.theme{
    margin-top: 30px;
}
.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}       
.logo{
    font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
text-decoration: none;
margin-bottom: 38px;
background: var(--background-color);
color: var(--text-color)
}
.logo-span{
    color: #00d0ffdc;
}
.header-list{
    display: flex;
justify-content: center;
font-size: 24px;
line-height: 28px;
height: 72px;

}
.header-list-item{
    padding-top: 26px;
    border-left: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    padding-left: 30px;
    padding-right: 30px;

}
.header-nav{
    max-height: 72px;
    background-color: #35444F;
}
.header-list-item-link{
   color: #fff;
text-decoration: none;
}
.main-container{
    display: flex;
    margin-top: 50px;
    background: var(--background-color);
    color: var(--text-color);
 
}
.aside-menu-list{
    border: 1px solid #000000;
    height: 399px;
    width: 344px;
   
}
.aside-menu-item{
    font-weight: normal;
font-size: 27px;
line-height: 27px;
padding-bottom: 52px;
padding-left: 44px;
}
.aside-menu-item-2{
    padding-top: 26px;
    font-weight: normal;
font-size: 27px;
line-height: 27px;
padding-bottom: 52px;
padding-left: 44px
}
.img-main{
height: 529px;
width: 885px;
  border: 1px solid #000000;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    margin-left: auto;
    margin-right: auto;
}



.main-text,
.main-text-2{
    font-size: 18px;
line-height: 24px;
width: 885px;
    height: 120px;
    font-style: normal;
font-weight: normal;
color: #2C2C2C;
}
.main-text{
    margin-bottom: 34px;
    margin-top: 37px;
    width: 885px;
    height: 120px;
}
.main-text-2{
    margin-bottom: 54px;
}

.aside-menu-url{
    text-decoration: none;
    color: #485863;
}
.main-aside{
    flex-grow: 2;
}
.footer{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);;
}
.footer-menu{
    display: flex;
}
.footer-menu-url{
    text-decoration: none;
    font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
color: #0C1927;

}
.footer-menu-item{
    margin-left: 15px;
}
