/* table{
    border: 1px solid #000000;
    border-collapse: separate;
}
td,
th{
    border: 1px solid #000000;
}
.blue-bgd{
    background-color: deepskyblue;
}
.yellow-bgd{
    background-color: yellow;
}
.red-bgd{
    background-color: red;
} */
.flex-container{
    display: flex;
    flex-wrap: wrap;
height: 400px;
padding: 15px;
border: 2px solid #000000;
list-style: none;
flex-direction: column;
/* align-content: space-evenly; */

}
.flex-element{
    height: 100px;
    width: 100px;
    border: 2px ridge #00ff00;
    /* flex-grow: 1; */
    flex-basis: 300px;
    flex: 1 3 200px;
}
.flex-element:nth-child(3){
    /* flex-grow: 3    ; */
    align-self: flex-end;
    order: 1;
}