.item-favourite{
  width: 50px;
  height: 50px;

}
.item-cart {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.posts-list{
  display: grid;
  grid-template-columns: repeat(5,20%)
}
.item-img{
  max-width: 250px;
}
.item-body{
  position: relative;
}
.item-favourite{
  position: absolute;
  top: 5px;
  left: 15px;
}
