.page,
.page-body{
    height: 100%;
}
.page-body{
    font-family: sans-serif;
    margin: 0px;
}
.container{
    width: 1170px;
    margin-left: auto
    ;
    margin-right: auto  ;
}
.banner{
    background-image:url(../img/layer21-1.jpg);
    background-size: cover;
    padding-top: 500px;
    padding-bottom: 149px;
    color: #ffffff;

}
.banner-title{
    
    text-transform: uppercase;
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.banner-description{
  
    margin-top: 0px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
}
.banner-slogan{
    border: 1px solid white;
    background-color:rgba(0,0,0,0.1);
    padding: 38px 31px;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    display: inline-block;
    margin-top: 0px;
 
}
.banner-slogan .banner-span{
    margin-right: 52px;
    color: #F48E0B;
    
}
.offer-list,
.services-list{
    list-style: none;
}
.services-list{
    
    margin: 0;
    
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.section-title{
    font-size: 22px;
line-height: 22px;
margin-bottom: 0;
margin-top: 0;
text-transform: uppercase;
color: #333333;
text-align: center;

}



.section-description{
    font-size: 17px;
line-height: 24px;
margin-top: 29px;
text-align: center;
color: #4D4943;
}
.section-line{
    margin-top: 45.5px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
height: 7px;
width: 62px;
border: none;
margin-bottom: 42px;
}

.services{
    padding-bottom: 195px;

}
.services-list-item{
    width: 268px;
margin-left: 27px;
display: inline-block;
vertical-align: top;
text-align: center;
padding-bottom: 35px;
border-bottom: 6px solid #000;
}
.first{
    margin-left: 0;
}
.second{
    margin-right: 0;
}
.item-title{
   
    background-color: #000000;
    padding: 24px 0 17px;
    margin-bottom: 30px;
}
.white{
    color: white;
}
.services-span{
    color: #F48E0B;
}
.item-icon{
    margin-top: 0px;
}
.item-text{
    margin-top: 30px;
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #505050;
}
.section-line-2{
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
height: 6px;
width: 66px;
border: none;
}
.offer{
    margin-top: 27px;
    font-size: 18px;
line-height: 22px;
font-weight: normal;
}
.offer-list{
    padding: 0px;
margin: 0px;
}
.item-icon{
    height: 50px;
    object-fit: contain;
    object-position: center ;
}
.item-text{
    min-height: 70px;
}
.services{
   list-style: none;
}
.aboutus{
    padding-bottom: 124px;
}
.aboutus-container{
    display: flex;
}
.services-aboutus{
    display: flex;
    width: 50%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutus-services-item{
    width: 270px;
    margin-bottom: 22px;
}
.aboutus-description{
width: 50%;
padding-left: 30px;

}
.aboutus-link{
color: white;
text-decoration: none;
position: relative;
}
.consulting{
    color: #F1AD1D;;
}
.bussines-consulting{
    text-transform: uppercase;
    margin-top: 0;
}
.aboutus-span{
    display: block;
    width: 117px;
    background-color: #333333;
    padding-left: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
}
.about-us-link{
    display: inline-block;
    background-color: #F1AD1D;
    color: #ffffff;
   ;
    padding: 19px 27px;
    text-decoration: none;
    
}
.second-offer-list-item{
    list-style: none;
    display: inline;
}
.second-offer-list-item{
    border: 1px solid #000000;
    margin-left: 15px;
    font-weight: 300;
font-size: 14px;
line-height: 18px;
padding: 12px 40px;


}
.second-offer-list-item a{
    text-decoration: none;
    color: black;
    
}
.second-offer-list-item-2{
    list-style: none;
    display: inline;
    list-style: none;
    display: inline;
    border: 1px solid #000000;
    margin-left: 15px;
    font-weight: 300;
font-size: 14px;
line-height: 18px;
padding: 12px 40px;
text-decoration: none;
    background-color: #000000;

}
.second-offer-list-item-2 a{
    text-decoration: none;
    color: orange
}
.grid-container{
    display: grid;
    margin-top: 55px;
    grid-auto-flow: row;
row-gap: ;
    grid-template-rows: 281px 281px 281px;
    grid-template-areas: 
    'item1 item2 item3 item4'
    'item5 item6 item7 item8'
    'item9 item10 item11 item12';
}
.grid-element:nth-child(1){
    grid-area: item1;
}
.grid-element:nth-child(2){
    grid-area: item2;
}
.grid-element:nth-child(3){
    grid-area: item3;
}
.grid-element:nth-child(4){
    grid-area: item4;
}
.grid-element:nth-child(5){
    grid-area: item5;
}
.grid-element:nth-child(6){
    grid-area: item6;
}
.grid-element:nth-child(7){
    grid-area: item7;
}
.grid-element:nth-child(8){
    grid-area: item8;
}
.grid-element:nth-child(9){
    grid-area: item9;
}
.grid-element:nth-child(10){
    grid-area: item10;
}
.grid-element:nth-child(11){
    grid-area: item11;
}
.grid-element:nth-child(12){
    grid-area: item12;
}

