/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Roboto';
}
.header-container{
    padding-top: 51px;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.body-container{
   
        background-image: url(../img/back.png);
        background-size: cover
    
}
.heaer-logo-url{
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
}
.header-logo{
    display: flex;
}
.header-logo-url-1{
    padding-left: 8px;
    padding-top: 3px;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
/* or 100% */

display: flex;
align-items: center;

color: #FFFFFF;
text-transform: uppercase;
display: block;
max-width: 120px;
}
.header-span{
    font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 29px;
}
.header-logo-url{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
color: #ffffff;
text-transform: uppercase;

}
.header-logo:hover .header-logo-url-1{
    color: #F26522 ;
}
.header-logo:hover 
.header-logo-svg{
    color: #F26522;
}
.header-logo:hover .header-logo-svg{
display: none;
}
.header-logo-svg-hover{
    display: none;
}
.header-logo:hover .header-logo-svg-hover{
    display: block;
}
.mailto{
    display: block;
    color: #ffffff;
    font-size: 18px;
line-height: 18px;
margin-bottom: 19px;

}
.mailto:hover{
    color: #F26522;
}
.header-url-item{
    margin-bottom: 19px;
    text-align: right;
}
.wrapper{
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 65px;
    grid-template-rows: 1fr 1fr ;
    grid-row-gap: 35px;
}
.main-item-header{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}
.main-item{
    width: fit-content;
    position: relative;
}
.main-item-header{
    margin-top: 20px;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
}

.copyright{
    margin-top: 49px;
    padding-bottom: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
}
.main-item-header:hover{
    color: #F26522;;
}
.main-item-hover{
    display: none;
    position: absolute;
    background-color: #F26522;;
   width: 296px;
height: 55px;    
bottom: 40px;
left: 2px;
}
.main-item:hover .main-item-hover{
    display: block;
    
}
.main-item:hover .main-item-header{
    color: #F26522 ;
}
.hover-text{
   padding-left: 16px;
   padding-top: 7px;
   color: white;
   font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 10px;
}
.hover-price{
    padding-left: 16px;
   padding-top: 8px;
   color: white;
   font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
}
.link-span{
    padding-left: 100px;
}
.hover-link{
    color: #ffffff;
    position: relative;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.hover-link::after{
    content: ">";
        text-align: center;
    display: block;
    font-size: 125%;
    margin-left: 180px;
margin-top: -15px;
}
