.page-title{
    text-align: center;
}

.floating-element{
    float: right;
}
.floating-element:last-of-type{
float: left;
}
.text-block{
    font-size: 30px;
    border: 1px solid #000000;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 80%;
    margin-left: auto;
    height: 80vh;
    margin-right: auto;
    border: 2px groove #000000;
    padding: 20px;
    position: relative;
}
.pos-el{
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
}
.pos-el--static{
    position: static;
    background-color: forestgreen;
}
.pos-el--relative{
    position: relative;
    background-color: goldenrod;
    left: 50px;
    top: 50px;
}
.pos-el--absolute{
    position: absolute;
    left: 0;
    top: 0;
    background-color: indianred;
}
.pos-el--fixed{
    position: fixed;
    background-color: indigo;
    right: 50px;
    bottom: 50px;
}