*,
*::after,
*::before{
    box-sizing: border-box;
}
.page,
.page-body{
    height: 100%;
}
.page-body{
    margin: 0;
    font-family: sans-serif;
}
.page-title{
    font-size: 30px;
    font-size: 2em; /* 1 em -> 1 размер шрифта элемента */
    font-size: 2rem; 
    /* 1rem -> 1 размер шрифта ::root(html) */
    border: 1px solid #000000;
    width: 40%;
    width: 2000vw;
    width: calc(    100% - 100px);
    width: 400px;
    padding: 20px;
}
.text{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0000ff;
    display: inline-block;
    padding: 40px 0;
    min-height: 100px;
}