:root{
    --accent-color:#18CFAB;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url(../img/Layer1.jpg);
    background-size: cover;
    height: 1012px;
}
.container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_main{
    display: flex;
    align-items: center;
    margin: 27px 0;
}
.header_nav{

    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    margin-top: 55px ;
    margin-bottom: 49px;
}
.nav-list-item{
    margin-right: 21px;
    padding-bottom: ;
    position: relative;
}
.nav-list-item:hover .nav-list-url{
    color: var(--accent-color);
}
.nav-list-item:hover::after{
    display: block;
position: absolute;
top: 70px;
left: 0;
    content: "";
    border-bottom: 2px solid var(--accent-color);
    width: 58px;
    
}
.logo-text-url{
    color: #fff;
    font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;

}
.accent-color{
    color:  var(--accent-color);
}
.nav-list-url{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;

}
.logo_main{
    width: 250px;
}
.nav-list{
    width: fit-content;
}

.main-header{
    font-weight: bold;
font-size: 35px;
line-height: 1px;
color: white;
margin-top: 279px;
width: fit-content;
margin-left: auto;
margin-right: auto;
text-transform: uppercase;
}
.main-header-2{
    font-style: normal;
font-weight: bold;
font-size: 78px;
line-height: 1px;
color: white    ;
width: fit-content;
margin-top: 60px;
margin-left: auto;
margin-right: auto;
text-transform: uppercase;
}
.main-header-3{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
}
.explore{
    padding: 17px 17px;
    background-color: var(--accent-color);;
    border:none ;
    border-radius: 5px ;
   
    margin-right: 26px;
    display: block;
}
.purchase{
    padding: 17px 17px;
    background-color: #00CBF6;;
    border:none ;
    border-radius: 5px ;
    
   
    display: block;
}
.buttons_container{
    display: flex;
    justify-content: center;
    margin-top: 134px;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    
}       
.grid-element{
    background-color: #1C2A33;

}
.grid-element-2{
    background-color: var(--accent-color);
}
.grid-img-1{
    padding-top: 95px;
    display: block;
   margin-left: auto;
   margin-right: auto;
}
.grid-img-2{
    padding-top: 95px;
    padding-left: 130px
}
.grid-element-header{
    margin-top: 48px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 110px;
    color: var(--accent-color);;
    text-transform: uppercase;
}
.grid-element-header-2{
    margin-top: 70px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 110px;
    color: white;
    text-transform: uppercase;
}
.our{
    background-color: #E9EDEF ;
}
.our-header{
    padding-top: 96px;
    text-align: center;
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
color: #4E4E4E;
position: relative;
}
.accent-line:nth-of-type(1){
    margin-top: 30px;
    width: 80px;
    height: 2px;
    background-color: var(--accent-color);
    border: none;
    margin-bottom: 0px;
}
.accent-line:nth-of-type(2){
    margin-top: 2px;
    width: 80px;
    height: 2px;
    background-color: var(--accent-color);
    border: none;
   margin-left: 48%;
}
.our-list{
    
    width: 600px;
    display: flex;
    margin: 0 auto;
    margin-top: 65px;
}
.our-list-item{
    
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 13px;
  border: 1px solid #DADADA;
}

.our-list-item:nth-of-type(1){
    justify-content: center;
    display: flex;
    padding: 15px 26px;
    padding-top: 17px;
 
  border: 1px solid #DADADA;
}
.our-list-item:hover{
    border: 1px solid var(--accent-color);
}
.our-list-url{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 42px;
color: #717171;;
}
.our-grid-container{
    margin-top: 71px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.wrapper{
    max-width: 1140px;

    margin: 0 auto;
}
.load-more{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 168px;
    height: 63px;
    color: #fff;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 42px;

}
#plus{
    
    font-size: 25px;
    padding-right: 15px;
}
.our-services-list{
    display: grid;
    max-width: 1140px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 72px;
    margin-top: 73px;

}
.load-more-2{
   padding-bottom: 99px;
}
.our-services-list-item{
display: flex;
justify-content: center;
align-items: center;
background: #F8FCFE;
border: 1px solid #EDEFEF;
position: relative;
}
.our-services-url{
    color: #717171;
    font-style: normal;
font-weight: normal;
font-size: 15.9859px;
line-height: 39px;
}
.our-services-list-item:hover{
    background-color: var(--accent-color);
    
}
.our-services-list-item::after{
    display: none;
    content: "";
    position: absolute;
    border: 20px solid transparent; border-top: 20px solid var(--accent-color);
    top: 63px;
    left: 68px;
}
.our-services-list-item:hover:after{
    display: block;
}
.our-services{
    max-width: 1160px;
    margin: 0 auto;
}
.our-services-text-container{
    display: flex;
   
    margin-top: 23px;
    margin-bottom: 91px;
    
}
.our-services-text{
    
    margin-left: 15px;
    font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;

}
.our-services{
    position: relative;
}
.purchase-now{
    background-image: url(../img/back2.png);
    background-size: cover;
    height: 476px;

}
.everything-header{
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 40px;
color: var(--accent-color);
padding-top: 126px;
text-align: center;
text-transform: uppercase;
}
.everything-desc{
    margin-top: 12px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
color: #D8D8D8;;
text-align: center;
}
.purchase-button{
    display: block;
    margin: 0 auto;
    width: 168px;
    height: 63px;
    background-color: var(--accent-color);
    border: none;
    font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 32px;
color: #fff;
text-transform: uppercase;
margin-top: 67px;
border-radius: 5px  ;
}
.amazing-post{
    position: relative;

}
.amazing-post-date{
    position: absolute;
    top: 0;
    right: 22px;
    width: 70px;
    height: 70px;
    background-color:  #203E38;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazing-grid{
    margin-top: 60px;
    margin-bottom: 130px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 44px;
}
.amazing-post-text{
    text-align: center;
    width: 30px;
    color: #fff;
}
.amazing-post-container{
    max-width: 263px;
    background-color: #F8FCFE;
}

.amazing-sub-header,
.amazing-header{
    padding-left: 15px;
    padding-top: 5px;
}
.amazing-sub-header{
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: normal;
font-weight: 300;
font-size: 13.991px;
color: #777777;
}
.amazing-header{
    font-style: normal;
font-weight: bold;
font-size: 17.9885px;
line-height: 39px;
}
#sub-header{
    border-right: 1px solid #777777;
    padding-right: 15px;
}
#sub-header-2{
    padding-left: 15px;
}
.amazing-post:hover .amazing-post-date{
    background-color: var(--accent-color);
}
.amazing-post:hover .amazing-header{
    color: var(--accent-color);
}
.whatPeopleSay{
    background-image: url(../img/back3.png);
    height: 853px;
}
.peopleSay{
    color: #fff;
}
.quote{
    display: block;
    margin: 0 auto;
}
.peopleSay-text{
    margin: 0 auto;
 text-align: center;
 max-width: 1160px;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
}
.peopleSay-header{
    margin: 0 auto;
    font-style: normal;
max-width: 120px;
font-size: 13px;
line-height: 27px;
color: #BBBBBB ;
padding-left: 30px;
}
.peopleSay-sub-header{
    
    margin: 0 auto;
    margin-top: 37px;
    font-style: normal;
max-width: 120px;
font-size: 20px;
line-height: 27px;
font-weight: bold;
color: var(--accent-color);
padding-left: 20px;
}
.quote{
    margin-top: 66px;
    margin-bottom: 37px;
    padding-right: 5px;
}
.peoplesay-img{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.carousel{
    width: 483px;
    height: 70px;
    margin: 51px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
   border: 0.5px solid rgba(255, 255, 255, 0.514);
   margin: 0;
   
}
.prev-img{
    transform: scaleY(-1);
}
.prev:hover{
    background-color: var(--accent-color);
}
.footer{
    margin-top: 0;
    background-color:  #22353f;;
    background-size: cover;
}
.copy{
    text-align: center;
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
padding: 48px 0;
}
.copy-span{
    color: var(--accent-color);
}
.whatPeopleSay{
    margin-bottom: 0;
}
.grid-hover{
    display: none;
  
   position: absolute;
  top: 0;
   left: 0;
   width: 290px;
   height: 205px;
   border-top: 2px solid var(--accent-color);
   background-color:  #E9EDEF;;

}
.grid-hover-icon{
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}
.grid-item{
    position: relative;
}
.grid-item:hover .grid-hover{
display: block
    
}

.grid-hover-header{
    padding-top: 23px;
    text-transform: uppercase;
text-align: center;
color: var(--accent-color);
font-style: normal;
font-weight: bold;
font-size: 14.1771px;
line-height: 25px;
}
.grid-hover-header-2{
    font-style: normal;
font-weight: 300;
font-size: 12.1518px;
line-height: 25px;
color: #8A8A8A;
text-align: center;
}
.active { color: red; }
.hidden{
   display: none;
}
.our-grid-container-hidden{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.our-grid-container:nth-of-type(2){
    margin-top: 0;
}