.page__body {
    margin: 0;
   font-family: $font;
color: $mainColor;

 }
 .green-color{
    color: #57A4A4;
 }
 .container{
    padding: 83px 10% 42px 10%;
    position: relative;
    @media (min-width: 800px) {
     padding: 41px 92px 50px 80px;
   }
 }
 
 .burger__menu__back{
    display: none;
    position: absolute;
    top: 60px;
    right: 28px;
    background-color: #F5F5F5;
    width: 182px;
    height: 208px;
 }
 
 .menu__link{
    font-size: 15px;
    color: blue;
    font-family: $font;
    font-size: 40px;
 }
 .burger__list{
    position: absolute;
    top: 58px;
    right: 30px;
    z-index: 4;
    display: none;
   @media (min-width: 760px) {
      justify-content: center;
      width: 100%;
     display: flex;
     
      position: static;
min-width: 760px;
   margin-bottom: 43px;
   }
 }
 .active{
   display: block;
}
 .burger__list__item{
display: flex;
align-items: center;
    width: 182px;
    height: 32px;

    
    @media (max-width: 759px) {
      
      background-color: 
      #F5F5F5;
      .burger__list__item:hover{
         width: 182px;
         height: 32px;
         background-color: #E5E5E5;
       }
    }
    @media(min-width: 760px){
      width: fit-content;
      height: fit-content;
margin-right: 34px;
    }
 }
 
 
 
 .burger__list__link{
   
    padding-left: 13px;
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-size: 11px;
line-height: 22px;
letter-spacing: 1.1px;

 }
 
 .burger_menu{
    position: absolute;
    top: 23px;
    right: 10vh;
    width: 44px;
    height: 37px;
    background-color: black;
    @media (min-width: 760px) {
     display: none;
   }
 }
 .burger_line{
    padding-left: 13px;
    padding-top: 13px;
 }
 .intro-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: fill;
   @media (min-width: 760px){
      display: none;
   }
 }
 .intro-img-big{
    display: none;
    @media (min-width: 760px) and (max-width: 1200px){
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
   
 }
 .intro-img-biggest{
   display: none;
   @media (min-width: 1200px){
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
 }
 .post_section_header{
    text-transform: uppercase;
    color: #4E4E4E;
    margin: 38px 0 0px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

 }
 .posts__list_item{
    margin-top: 23px;
    @media (min-width: 760px){
       display: grid;
       grid-template-areas: 
            "a b"
            "a c"
            "a c"
            "a d"
            "a d";   

    }
 }
 .posts__list {
    @media (min-width: 1200px){
       display: grid;
       grid-template-columns: repeat(2,2fr);
       grid-template-rows: repeat(2,2fr);
    }
 }
 #big-post{
    display: none;
    @media (min-width: 760px){
display: grid;
    }
 }
 .post-img{
    width: 160px;
    grid-area: a;
    height: 140px;
    @media (min-width: 760px){
       margin-right: 20px;
    }
 }
 .posts__header{
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    grid-area: b;
    
 }
 .posts__header__desc{
    font-size: 11px;
    line-height: 20px;
    color: $lightColor;
    grid-area: c;
 }
 .footer-header{
    color: #fefefe;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto 0 auto;
 }
 .insta{
    margin-top: 77px;
 }
 .footer{
    padding: 38px 0 47px 0;
    width: 100% ;

 }
 .page__footer{
    background-color: #000000;
    min-width: 100%;
 }
 .footer__text{
    
    width: 303px;
    height: 52px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: $footerColor;
    margin-top: 8px;
    @media (min-width: 760px){
       width: 680px;
height: 44px;
margin-top: 22px;
    }
 }
.img__container{
   width: fit-content;
   margin: 0 auto;
   margin-top: 26px;
   margin-bottom: 25px;
}
.footer__description{
   font-size: 14px;
line-height: 24px;
color: #B9B9B9;
text-align: center;
width: 235px;
margin: 0 auto;
@media (min-width: 760px){
width: 613px;
}
}
.posts-text{
   display: none;
   grid-area: d;
   @media (min-width: 760px){
      display: block;
   }
}
.footer__hiden_text{
   display: none;
   @media (min-width: 760px){
      display: block;
   }
}