/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
body {
    font-family: 'Ubuntu';
}
.main-container{
    background-image: url(../img/back.jpg);
   min-height: calc(100vh - 71px);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.main-header{
    
    background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 79px;
   padding-right: 79px;
   padding-top: 18px;
   padding-bottom: 18px;
}
.icon-url{
    margin-right: 25px;
}
.icon-svg:hover {
    fill: #3CB878;
}
.icons-urls{
    display: flex;
    align-items: center;
    
}
.urls{
    display: flex;
    align-items: center;
}
.header-line{
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
mix-blend-mode: normal;
opacity: 0.5;
border: none;
margin-right: 25px;
margin-left: 27px;
}
.second{
    margin-right: 5px;
}
.first{
    margin-right: 25px;
}
.header-url,
.logo{
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
}
.header-url{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
margin-right: 5px;
}
.logo:hover,
.accent-color:hover{
    color: #01813F;
}
svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
    }
    
.svg-icons:hover{
   stroke: #01813F ;
   fill: #01813F;
   color:  #01813F
}
.form{
  
   margin-left: auto;
   margin-right: auto;
    max-width: 444px;
    background-color:#ffffff;
position: relative;

}
.square{
    position: absolute;
    left: 0px;
top: 29px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}
.form-container{
    padding-left: 60px;
    padding-right: 60px;
    height: 584px;
    }
.form-header{
    display: flex;
    justify-content: space-between; 
    padding-top: 32px;
   
}
.form-header-url{
    text-decoration: none;
    color: #3CB878;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
padding-top: 6px;
}
.form-header-url:hover{
    text-decoration: underline;
}
.form-header-item-text{
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #434343;
}
.button-container{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.google,
.facebook{
    height: 48px;
    width: 160px;
}
.facebook:hover{
    background-color: #022263;
}
.google:hover{
    background-color: #AB1F09;
}
.button-line{
   border: none;
    width: 1px;
    opacity: 0.1;
    height: 28px;
    background-color: #0A162F;
}
.facebook{
        background-color: #305DB8;
        border-radius: 5px;
        /* border: 1px solid #305DB8 ; */
        display: flex;
        align-items: center;
}
.google{
    background-color:#DF4A32;
    border-radius: 5px;
}
.facebook-logo{
    padding-left: 17px;
}
.or{
    display: flex;
    align-items: center;
    margin-top: 31px;
}
.or-line{
    width: 152px;
    height: 1px;
    background-color:#F2F2F2;
    border: none;
}
.or-text{
    color: #848484;
}
.button-url{
    padding-right: 25px;
    text-decoration: none;
    color: #fff;
}
.form-element{
    margin-bottom: 15px;
    width: 301px;
    height: 46px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
border-radius: 4px;

}
.form-element:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}
.firstelement{
    margin-top: 10px;
}
.form-element:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.container {
    margin-top: ;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color:#fff;
    border: 1px solid #F2F2F2;
  }
  
  .container:hover input ~ .checkmark {
    background-color:#fff;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 4px;
    top: px;
    width: 5px;
    height: 10px;
    border: solid #3CB878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .terms-text{
      font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
  }
  .terms-url{
      color: #3CB878;
  }
  .terms-url:hover{
      text-decoration: underline;
  }
  .create-account-container{
      margin-top: 20px;
      margin-bottom: 38px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #3CB878
      ;
      border-radius: 4px;
      display: flex;
      justify-content: center;
  }
  .create-account-container:hover{
      background-color: #01813F;;
  }

  .create-account{
color: #fff;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
  }
  