* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tabs_header {
    display: flex;
}

.title_header_tabs {
    padding: 20px;
            background-color: #23201D;
            color: #937341;
            cursor: pointer;

}

.hide {
    display: none;
  }

.show {
    display: block;
  }

.active {
    background-color:#937341 ;
            color: #23201D;

}