.page-title{
    text-align: center;
    position: relative;
    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.page-title::before {
    content: "";
    position: absolute;
left: -30px;
top: 0px;
width: 0;
height: 0;
border: 10px solid transparent;
border-right: 20px solid skyblue;

}
.page-title::after {
content: "";
position: absolute;
width: 0;
height: 0;
right: -30px;
top: 0px;
border: 10px solid transparent;
border-left: 20px solid skyblue;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px skyblue; 
}
.list-item :first-child{
    color: green;
}
.list-item:last-child{
    font-size: 1.5em;
}
.list-item p:first-of-type{
    text-decoration: underline slateblue;
}
.list-item p:last-of-type{
   text-transform: uppercase;
    text-decoration: underline slateblue;
}
.list-item:nth-child(){
    color: #f00;
} */
 .link{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 30px;
    padding: 10px;
    font-size: 30px;
}
.link:visited{
    color: #0000ff;
}
.link:hover {
   background-color: #f5f5f5;
}
.link:active{
    background-color: #f5deb3;
}
.link:active::after{
    content: "->";
    margin-left: 5px;
    font-size: 1em;
}
.link:hover::after{
    content: "->";
    margin-left: 5px;
    font-size: 2em;
}
.link:focus{
    border: 2px dashed #f00;


.wrapper{
    height: 600px;
    background: rgb(2,0,36);
background: -moz-radial-gradient(circle, rgba(2,0,36,1) 21%, rgba(18,17,72,1) 33%, rgba(55,55,154,0.6180847338935574) 43%, rgba(37,37,115,1) 76%, rgba(0,212,255,1) 100%);
background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 21%, rgba(18,17,72,1) 33%, rgba(55,55,154,0.6180847338935574) 43%, rgba(37,37,115,1) 76%, rgba(0,212,255,1) 100%);
background: radial-gradient(circle, rgba(2,0,36,1) 21%, rgba(18,17,72,1) 33%, rgba(55,55,154,0.6180847338935574) 43%, rgba(37,37,115,1) 76%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
