li {
    /* display: block;
    display: inline-block;
    vertical-align: middle; */
    box-sizing: border-box;

}
ul{
    /* width: 30px;
    margin-left: auto;
    margin-right: auto;
margin-top: 20%; */
}
li{
    padding: 20px;
    border: 2px solid #000000;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li span{
    margin: auto;
}
ul{
    display: flex;
    list-style: none;
    padding: 20px;
    height: 400px;
    border: 2px groove #ff0000;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    align-items: stretch;
    align-items: flex-start ;
    flex-direction: column;
}