.modal-body{
  width: 800px;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 margin: auto;
 height: 300px;
 position: absolute;
    z-index: 20;
    top: 100px;
    left: 100px;
}
.modal-header{
  margin: 0;
  padding: 0;
  color: white;
}
.modal-title{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.modal-cross{
  margin-left: 270px;
 
}
.modal-text,.modal-sub-text{
  color: white;
  text-align: center;
}
.modal-buttons-container{
  width:fit-content;
  margin: 0 auto;
  margin-top: 70px;
}
.button{
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}
.bg_layer {
  
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}