.macaw {
   /* stroke: aqua; */
   background-color: #87cefa80;
}
.macaw * {
   transition: fill 0.7s;
}
.macaw:hover .macaw-body {
   fill: url(#Gradient2);
}
.macaw:hover .beak-top {
   fill: rgb(255 184 194 / 0.5);
}
.macaw:hover .beak-bottom {
   fill: #20b2aa;
}
